// Colours
$colour-primary: #f0f0f0;
$colour-text: #574242;
$colour-green-light: #5ac7a2;
$colour-green-dark: #36b48a;

$colour-ui-shadow: #a7a7a7;
$colour-ui-shadow-soft: #cccccc;
$colour-ui-overlay: #f0f0f0dc;
$colour-ui-overlay-green: #36b48adc;

// Font
$font-primary: "Rubik", sans-serif;

// Breakpoints
$mobile-width: 576px;
$small-tablet-width: 768px;
$tablet-width: 992px;
$desktop-width: 993px;
$big-desktop-width: 1150px;
