* {
    font-family: $font-primary;
    color: $colour-text;
    font-weight: 300;
    letter-spacing: 1.5px;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

.muted-text {
    padding-bottom: 1em;
    color: $colour-text;
}