.projects {
  width: 80%;
  padding-top: 7em;
  margin: 13em auto;

  &__list {
    margin: 0 auto;

    &__item {
      position: relative;
      padding: 0;

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(85%);
      }

      &--details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $colour-ui-overlay;
        color: $colour-primary;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.25s;

        &:hover {
          opacity: 1;
        }

        h4 {
          color: $colour-text;
        }

        h5 {
          color: $colour-text;
          font-weight: 400;
        }

        span {
          padding: 0.5em 1em 0.5em 1em;
          color: $colour-text;
          text-align: center;
        }

        a {
          border-radius: 4px;
          color: $colour-green-dark;
          font-weight: 400;
          padding: 0.5em;
          margin-top: 1em;
          border: 2px solid $colour-green-dark;

          &:hover {
            text-decoration: none;
            background: $colour-green-dark;
            border: 2px solid $colour-green-dark;
            color: $colour-primary;
            transition: all 0.35s ease-in-out;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $small-tablet-width) {
  .herobanner__content {
    flex-direction: column-reverse;
    justify-content: center;

    &__text {
      flex: 1;
      width: 100%;
      max-height: 14em;
      text-align: center;
    }

    &__img {
      flex: 1;
      max-height: 15em;

      &--src {
        width: 15em;
      }
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .projects__list__item {
    height: 28vh;
  }
}

@media screen and (min-width: $desktop-width) and (max-width: $big-desktop-width) {
  .projects__list__item {
    height: 32vh;
  }
}

@media screen and (min-width: $big-desktop-width) {
  .projects__list__item {
    height: 30vh;
  }
}
